src/com/trgr/dockets/core/util/SourceLoadRequestXsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="updateType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Add"/>
				<xs:enumeration value="Update"/>
				<xs:enumeration value="Delete"/>
				<xs:enumeration value="ADD"/>
				<xs:enumeration value="UPDATE"/>
				<xs:enumeration value="DELETE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="timeStamp">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sourcePath">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sourceLoadRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="batchId"/>
				<xs:element ref="productCode"/>
				<xs:element ref="updateType"/>
				<xs:element ref="sourcePath"/>
				<xs:element ref="acquisitionType"/>
				<xs:element ref="acquisitionMethod"/>
				<xs:element ref="timeStamp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="productCode">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="batchId">
		<xs:simpleType>
			<xs:restriction base="xs:short">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acquisitionType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acquisitionMethod">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
